/* About.css */
.about_container {
  margin-right: calc(100vw / 6);
}

.about_container h2 {
  font-size: 64px;
  margin-left: calc(200vw / 6);
}

.about_container p {
  font-size: 20px;
  margin-left: calc(300vw / 6);
  color: #afafaf;
}

#portrait {
  position: absolute;
  bottom: 0px;
  left: calc(100vw / 12);
}

#portrait img {
  max-width: calc(500vw / 12);
  min-height: 85vh;
  max-height: 95vh;
}

.tub {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media (orientation: portrait) {
  .about_container {
    margin-right: 12.5vw;
  }

  .about_container h2 {
    margin-left: 12.5vw;
  }

  .about_container p {
    margin-left: 12.5vw;
  }

  #portrait {
    left: 0;
  }

  #portrait img {
    display: none;
  }

  .left {
    text-align: center;
    justify-content: center;
  }

  .right {
    text-align: center;
    justify-content: center;
  }
}
