/* About.css */
.about_container {
  height: 100vh;
  margin-right: calc(100vw / 6);
  margin-top: 10%;
  text-: center;
}

.about_container h2 {
  font-size: 64px;
  margin-left: calc(200vw / 6);
}

.about_container p {
  font-size: 20px;
  margin-left: calc(300vw / 6);
}
#portrait {
  position: absolute;
  bottom: 0px;
  left: calc(100vw / 12);
}

#portrait img {
  width: calc(500vw / 12);
}
