/* Footer.css */
.footer_container {
  z-index: 900;
  background-color: rgba(16, 16, 16, 0.8);
}

#footer_content {
  display: flex;
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 6);
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer_box {
  flex: 1;
  margin-top: auto;
}

.img_links_container a {
  padding: 1ch;
}

.img_links_box img {
  max-height: 25px;
  transition: transform 0.25s ease;
}

.img_links_box img:hover {
  transform: scale(1.2);
}
