/* Footer.css */
.footer_container {
  display: flex;
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 6);
  z-index: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer_box {
  flex: 1;
  margin-top: auto;
}

.img_links_container a {
  padding: 1ch;
}

.img_links_box img {
  max-height: 25px;
  transition: transform 0.25s ease;
}

.img_links_box img:hover {
  transform: scale(1.2);
}
