/* Header.css */
.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 6);
  z-index: 900;
}

.nav_box {
  flex: 1;
  width: 50%;
}

.nav_link {
  color: #efefef;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: background-color 0.25s ease;
}

.nav_link:hover {
  color: #101010;
  background-color: #efefef;
  text-decoration: none;
}

.new_tab_icon {
  vertical-align: middle;
  padding-left: 0.5em;
  max-width: 0.8em;
}

.nav_img {
  max-height: 3em;
  transition: transform 0.25s ease;
}

.nav_img:hover {
  transform: scale(1.2);
}
