/* Info.css */
.info_icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
}

.info_content {
  position: absolute;
  bottom: 55px;
  right: 15px;
  width: calc((200vw / 6) - 15px);
  background-color: #101010;
  color: #efefef;
  border: 1px solid #efefef;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1100;
}

.info_content h3 {
  font-size: large;
  font-weight: bold;
}

.info_content p {
  font-size: medium;
}