/* Landing.css */
#landing_container {
  height: 100vh;
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 6);
  display: flex;
  align-items: center;
  z-index: 800;
}

#landing_title {
  font-size: 112px;
  margin: 0px;
  padding-right: 0.1em;
  width: fit-content;
  white-space: pre;
}

#landing_description {
  font-size: 20px;
  color: #afafaf;
  width: calc(200vw / 6);
}

.empty_title {
  border-left: 4px solid #efefef;
}

.title {
  border-right: 4px solid #efefef;
}

.animate_caret {
  animation: blink_caret 1s step-end infinite;
}

@keyframes blink_caret {
  from,
  to {
    border-color: #efefef;
  }
  50% {
    border-color: transparent;
  }
}

@media (orientation: portrait) {
  #landing_container {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }

  #landing_title {
    font-size: 48px;
  }

  #landing_description {
    width: 87.5vw;
  }

  .left {
    text-align: center;
    justify-content: center;
  }

  .right {
    text-align: center;
    justify-content: center;
  }
}
