/* Landing.css */
#landing_container {
  height: 100vh;
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 6);
  display: flex;
  align-items: center;
  z-index: 800;
}

#landing_title {
  font-size: 112px;
  margin: 0px;
  padding-right: 0.1em;
  width: fit-content;
  white-space: pre;
}

#landing_description {
  font-size: 20px;
  color: #bfbfbf;
  width: calc(200vw / 6);
}

.empty_title {
  border-left: 4px solid #efefef;
}

.title {
  border-right: 4px solid #efefef;
}

.animate_caret {
  animation: blink_caret 1s step-end infinite;
}

@keyframes blink_caret {
  from,
  to {
    border-color: #efefef;
  }
  50% {
    border-color: transparent;
  }
}
