/* Popup.css */
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup_content {
  background-color: #efefef;
  color: #101010;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

.popup_content button {
  margin-top: 10px;
  font-family: "Menlo", "Ubuntu Mono", "DejaVu Sans Mono", "Consolas",
    "Courier New", monospace; /* macOS, Ubuntu, Unix, Windows, ... */
  font-size: 16px;
  padding: 0.5em 1em;
  background-color: #101010;
  color: #efefef;
  border-radius: 0.5em;
  border-color: #101010;
}

.popup_content button:hover {
  background-color: #efefef;
  color: #101010;
}
