/* Projects.css */
#projects_div {
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 2);
}

.project {
  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
}

.project h3 {
  margin: 0px;
}
