/* Projects.css */
#projects_title {
  font-size: xxx-large;
  margin-bottom: 0px;
}

#projects_desc {
  font-size: 20px;
  color: #afafaf;
}

#projects_div {
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 2);
}

.project {
  border: 1px solid #effeef;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  filter: brightness(0.732);
  transition: all 0.25s ease;
}

.project:hover {
  transform: scale(1.05);
  filter: brightness(1);
}

.project h3 {
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project_container {
  display: flex;
}

.project_box {
  flex: 1;
  justify-content: center;
}

.proj_link {
  color: #efefef;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: background-color 0.25s ease;
  width: 100%;
}

.proj_link:hover {
  color: #101010;
  background-color: #efefef;
  text-decoration: none;
}

.divider {
  border-left: 1px solid #efefef;
}
