/* Projects.css */
#projects_title {
  font-size: xxx-large;
  margin-bottom: 0px;
}

#projects_desc {
  font-size: 20px;
  color: #afafaf;
}

#projects_div {
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 2);
}

.project {
  border: 1px solid #effeef;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  filter: brightness(0.732);
  transition: all 0.25s ease;
  background-color: #161616;
}

.project:hover {
  transform: scale(1.05);
  filter: brightness(1);
  background-color: #101010;
}

.thumbnail {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 150px;
  position: relative; 
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project_content {
  padding: 0px 20px 20px 20px;
}

.project h3 {
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project_container {
  display: flex;
}

.project_box {
  flex: 1;
  justify-content: center;
}

.divider {
  border-left: 1px solid #efefef;
}
