/* Skills.css */
#skills_div {
  margin-left: calc(100vw / 6);
  margin-right: calc(100vw / 2);
  display: flex;
  align-items: center;
  height: 100vh;
}

#skills_div h2 {
  font-size: 64px;
}

@media (orientation: portrait) {
  #skills_div {
    margin-left: 12.5vw;
    margin-right: 50vw;
  }

  #skills_div h2 {
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #efefef;
  }
}
