/* global.css */
body {
  font-family: "Menlo", "Ubuntu Mono", "DejaVu Sans Mono", "Consolas",
    "Courier New", monospace; /* macOS, Ubuntu, Unix, Windows, ... */
  background-color: #101010;
  color: #efefef;
  margin: 0px;
}

a {
  color: #3998fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  text-align: left;
  justify-content: left;
}

.center {
  text-align: center;
  justify-content: center;
}

.right {
  text-align: right;
  justify-content: right;
}

.bottom {
  margin-top: auto;
}
