/* global.css */
body {
  background-color: #101010;
  color: #efefef;
  margin-left: 15%;
  margin-right: 15%;
}

a {
  color: #3998fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  margin-top: 4em;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
